<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
           <div class="card card-container" >

               <img id="profile-img" class="profile-img-card" src="../assets/images/DDTHlogo.jpeg" />
               <p id="profile-name" class="profile-name-card"></p>

               <form class="form-signin" (ngSubmit)="login()" #f="ngForm">
                   <span id="reauth-email" class="reauth-email">aaa</span>
                    <div *ngIf="f.submitted && !username.valid" class="help-block">{{ errorMsg }}</div>
                   <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !username.valid }">
                     <input type="email"
                            class="form-control"
                            id="username"
                            name = "username"
                            [(ngModel)]="username"
                            placeholder="Username"
                            required
                            autofocus>
                   </div>


                   <div class="form-group" [ngClass]="{ 'has-error': f.submitted && !password.valid }">
                     <input type="password"
                            class="form-control"
                            [(ngModel)]="password"
                            id="password"
                            name = "password"
                            placeholder="Password"
                            required>
                   </div>


                   <div id="remember" class="checkbox">
                       <label>
                           <input type="checkbox"
                                  name="remember"
                                  id="remember"> Remember me
                       </label>
                   </div>
                   <div class="form-group">
                     <div align="center">
                       <img *ngIf="loading" src="../../assets/images/loader.gif">
                     </div>
                     <button [disabled]="loading"
                             type="submit"
                             class="btn btn-lg btn-primary btn-block btn-signin"
                             >Sign in</button>

                   </div>
               </form>


               <p>Forget the password ? contract 02-xxxxx</p>
           </div>
       </div>
  </body>
</html>

<!-- <h1>TEST</h1>

<ul *ngFor="let user of employees">
  <li>{{ user.name }}</li>
  <li>{{ user.username }}</li>
  <li>{{ user.password }}</li>
</ul> -->
