<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <div class="container">
           <div class="card card-container">

               <img id="profile-img" class="profile-img-card" src="../assets/images/DDTHlogo.jpeg" />
               <p id="profile-name" class="profile-name-card"></p>
               <form class="form-signin">
                   <span id="reauth-email" class="reauth-email"></span>
                   <input type="email" id="inputEmail" class="form-control" placeholder="Username" required autofocus>
                   <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                   <div id="remember" class="checkbox">
                       <label>
                           <input type="checkbox" value="remember-me"> Remember me
                       </label>
                   </div>
                   <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
               </form>


               <p>Forget the password ? contract 02-xxxxx</p>
           </div>
       </div>
  </body>
</html>

<!-- <h1>TEST</h1>

<ul *ngFor="let user of employees">
  <li>{{ user.name }}</li>
  <li>{{ user.username }}</li>
  <li>{{ user.password }}</li>
</ul> -->
