<header-cm></header-cm>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{title}}</h1>
      <hr>
    </div>
  </div>

   <form (ngSubmit)="managedTicket()" [formGroup]="form">
     <div  class="form-group">
       <div class="row">
         <div class="col-md-3">
           <label>Ticket ID :</label>
         </div>
         <div class="col-md-3">
           <p *ngIf="!editted"><input
              type="text"
              class="form-control"
              id="ticket_id"
              [(ngModel)]="tickets.ticket_id"
              formControlName="ticket_id"
              maxlength="40"
              required
              >
            </p>
            <p *ngIf="editted"><input type="text"
                    class="form-control"
                    id="ticket_id"
                    [(ngModel)]="tickets.ticket_id"
                    formControlName="ticket_id"
                    maxlength="40"
                    disabled
                    ></p>
         </div>


       </div>

       <div class="row">
         <div class="col-md-3">
           <label>Case Owner: </label>
         </div>
         <div class="col-md-3">
           <input
                 type="text"
                 class="form-control"
                 id="owner"
                 [(ngModel)]="tickets.owner"
                 formControlName="owner"
                 required
                 >
         </div>
       </div>

       <div class="row">
         <div class="col-md-3">
           <label>Customer :</label>
         </div>
         <div class="col-md-3">
           <input
                 type="text"
                 class="form-control"
                 id="customer_name"
                 [(ngModel)]="tickets.customer_name"
                 formControlName="customer_name"
                 required
                 >
         </div>
       </div>

       <!-- <div class="row">
         <div class="col-md-3">
           <label>Time start :</label>
         </div>
         <div class="col-md-3">
           <datetime
                  [datepicker]="false"
                  [(ngModel)]="tickets.time"
                  formControlName="time">
           </datetime>
         </div>
       </div> -->
       <div class="row">
         <div class="col-md-3">
           <label>Telephone: </label>
         </div>
         <div class="col-md-3">
           <input
                 type="text"
                 class="form-control"
                 id="tel"
                 [(ngModel)]="tickets.tel"
                 formControlName="tel"
                 required
                 >
         </div>
       </div>

       <div class="row">
         <div class="col-md-3">
           <label>Start Date: </label>
         </div>
         <div class="col-md-3">

                <input
                type="text"
                [(ngModel)]="tickets.date"
                class="form-control"
                ngui-datetime-picker
                formControlName="date"
                date-format = "YYYY-MM-DD HH:mm"
                [close-on-select]="false"
                 />
         </div>
       </div>

       <div class="row">
         <div class="col-md-3">
           <label>End Date: </label>
         </div>
         <div class="col-md-3">

                <input
                type="text"
                [(ngModel)]="tickets.end_date"
                class="form-control"
                ngui-datetime-picker
                formControlName="end_date"
                date-format = "YYYY-MM-DD HH:mm"
                [close-on-select]="false"
                 />
         </div>
       </div>

       <div class="row">
         <div class="col-md-3">
           <label>Description :</label>
         </div>
         <div class="col-md-3">
           <textarea
                    class="form-control"
                    id="description"
                    [(ngModel)]="tickets.description"
                    formControlName="description"
                    required
                    rows="10" cols="50"></textarea>
         </div>
       </div>







     </div>
     <!-- <button type="submit" class="btn btn-success" >Add Ticket</button> -->
     <p *ngIf="!editted"><button type="submit" class="btn btn-success" [disabled]="!form.valid" >Add Ticket</button></p>
     <p *ngIf="editted"><button type="submit" class="btn btn-warning" [disabled]="!form.valid" >Ediit</button></p>

   </form>
</div>
