h1 {
  font-family: helvetica;
  padding-left: 10;
  color: #6b6565;

}

.form-group>.row {
  margin-bottom: 10px;
  border: 1px;
  border-color: blue;

}

.form-group>.col {
  border: 1px;
  border-color: red;
}


.help-block {
  color: red;
}
