<header-eng></header-eng>
<div class="container">
  <div class="row">
    <div class="col">
      <dx-scheduler
          [dataSource]="appointmentsData"
          [views]='["month", "week", "day"]'
          currentView="month"
          [firstDayOfWeek]="0"
          [startDayHour]="8"
          [endDayHour]="24"
          [currentDate]="currentDate"
          [useDropDownViewSwitcher]="switchModeNames[1] === switchMode.value"
          width="100%"
          [height]="600">
          <dxi-resource
              fieldExpr="ownerId"
              label="Owner"
              [allowMultiple]="true"
              [dataSource]="resourcesData"
          ></dxi-resource>
          <dxo-editing #editingOptions
              [allowAdding]="true"
              [allowUpdating]="true"
              [allowDeleting]="true"
              [allowResizing]="true"
              [allowDragging]="true"
          ></dxo-editing>
      </dx-scheduler>
      <div class="options" hidden>
          <div class="caption">Options</div>
          <div class="option switcher-mode">
              <span>View Switcher Mode</span>
              <dx-select-box #switchMode
                  [items]="switchModeNames"
                  [value]="switchModeNames[0]"
                  [width]="200">
              </dx-select-box>
          </div>
          <div class="option" hidden>
              <dx-check-box text="Allow adding" [(value)]="editingOptions.allowAdding"></dx-check-box>
          </div>
          <div class="option" hidden>
              <dx-check-box text="Allow updating" [(value)]="editingOptions.allowUpdating"></dx-check-box>
          </div>
          <div class="option" hidden>
              <dx-check-box text="Allow deleting" [(value)]="editingOptions.allowDeleting"></dx-check-box>
          </div>
          <div class="option" hidden>
              <dx-check-box text="Allow resizing" [(value)]="editingOptions.allowResizing"></dx-check-box>
          </div>
          <div class="option" hidden>
              <dx-check-box text="Allow dragging" [(value)]="editingOptions.allowDragging"></dx-check-box>
          </div>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col">
      <div *ngFor="let data of workplan">
        <li>{{data.workplan_id}}</li>
        <li>{{data.em_id}}</li>
        <li>{{data.name}} {{data.lname}}</li>
        <li>{{data.ticket_id}}</li>
      </div>
    </div>
  </div>
</div>
