<header-cm></header-cm>
<div class="container">
  <div class="row">
    <div class="col">
        <h1>Workplan For all Engineer</h1>
    </div>
  </div>
  <div class="row">
    <div class="col pull-right">
      <label>Select Team: </label>
      <select class="form-control" id="team_id" [(ngModel)]="defaultTeam" (ngModelChange)="changeDefault()" required>
          <option value="505" [selected]="defaultTeam === 505">Service Support</option>
          <option value="503" [selected]="defaultTeam === 503">Installation </option>
          <option value="504" [selected]="defaultTeam === 504">Preventive Maintenance</option>
          <option value="506" [selected]="defaultTeam === 506">Resource Management</option>
          <option value="507" [selected]="defaultTeam === 507">Service</option>
          <option value="509" [selected]="defaultTeam === 509">Upcountry FE</option>
      </select>
    </div>
  </div>

    <div class="row">
      <div class="col">
        <dx-scheduler
            id="scheduler"
            [dataSource]="workplan"
            [views]='["month", "week", "day"]'
            currentView="month"
            [firstDayOfWeek]="0"
            [startDayHour]="8"
            [endDayHour]="24"
            [currentDate]="currentDate"
            [useDropDownViewSwitcher]="switchModeNames[1] === switchMode.value"
            width="100%"
            [height]="600"
            appointmentTemplate="appointment-template"
            appointmentTooltipTemplate="tooltip-template"
            (onAppointmentFormCreated)="FormCreated($event)"
            startDateExpr="date"
            endDateExpr="end_date"
            (onAppointmentAdding)="addWorkplan($event)">
            <!-- <dxi-resource
                fieldExpr="ownerId"
                label="Owner"
                [allowMultiple]="true"
                [dataSource]="resourcesData"
            ></dxi-resource> -->
            <div *dxTemplate="let data of 'appointment-template'">
              <i>Engineer: {{data.name}} {{data.lname}}</i>
              <p> Description: {{data.description}}</p>
              <p>{{ data.date | date:'shortTime'}} - {{data.end_date | date:'shortTime'}}</p>
            </div>

            <div *dxTemplate="let data of 'tooltip-template'">
              <i>Customer Name: {{data.customer_name}}</i>
              <p> Description: {{data.description}}</p>
              <p>{{ data.date | date:'shortTime'}} - {{data.end_date | date:'shortTime'}}</p>
            </div>

            <dxo-editing #editingOptions
                [allowAdding]="true"
                [allowUpdating]="true"
                [allowDeleting]="true"
                [allowResizing]="true"
                [allowDragging]="true"
            ></dxo-editing>
        </dx-scheduler>
        <div class="options" hidden>
            <div class="caption">Options</div>
            <div class="option switcher-mode">
                <span>View Switcher Mode</span>
                <dx-select-box #switchMode
                    [items]="switchModeNames"
                    [value]="switchModeNames[0]"
                    [width]="200">
                </dx-select-box>
            </div>
            <div class="option" hidden>
                <dx-check-box text="Allow adding" [(value)]="editingOptions.allowAdding" (click)="addWorkplan($event)"></dx-check-box>
            </div>
            <div class="option" hidden>
                <dx-check-box text="Allow updating" [(value)]="editingOptions.allowUpdating"></dx-check-box>
            </div>
            <div class="option" hidden>
                <dx-check-box text="Allow deleting" [(value)]="editingOptions.allowDeleting"></dx-check-box>
            </div>
            <div class="option" hidden>
                <dx-check-box text="Allow resizing" [(value)]="editingOptions.allowResizing"></dx-check-box>
            </div>
            <div class="option" hidden>
                <dx-check-box text="Allow dragging" [(value)]="editingOptions.allowDragging"></dx-check-box>
            </div>
        </div>

      </div>
    </div>
</div>
