<div class="container-fluid">
  <div class="row">
    <div class="col">
      <h4>Details ticket # {{workplan.ticket_name}}</h4>
    </div>
    <hr>
    <div class="row">
      <div class="col">
        <div class="form-group">
              <div class="row">
                <div class="col-md-6">
                  <label>Customer Name: </label>
                </div>
                <div class="col-md-6">
                  <label>{{workplan.customer_name}}</label>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <label>SO Number: </label>
                </div>
                <div class="col-md-6">
                  <label>{{workplan.so_number}}</label>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <label>Start Date : </label>
                </div>
                <div class="col-md-6">
                  <label>{{workplan.date | date:'short'}}</label>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <label>End Date : </label>
                </div>
                <div class="col-md-6">
                  <label>{{workplan.end_date | date:'short'}}</label>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <label>Description: </label>
                </div>
                <div class="col-md-6">
                  <label>{{workplan.description}}</label>
                </div>
              </div>
              <hr>
              <div class="row" >
                <div class="col text-center" >
                  <p *ngIf="workplan.emp_status === 'busy'">*You cannot confirm this work. Because, Engineer working now.</p>
                </div>
              </div>
              <div class="row">
                <div class="col text-center">
                  <button *ngIf="workplan.emp_status === 'available'" md-raised-button (click)="ConfirmWork()" class="btn btn-success pull-center" >Confirm</button>
                  <button *ngIf="workplan.emp_status === 'busy'" md-raised-button (click)="ConfirmWork()" class="btn btn-success pull-center" disabled="">Confirm</button>

                  <button md-raised-button (click)="close()" class="btn btn-warning pull-center" >Close</button>

                </div>
              </div>

        </div>
      </div>
    </div>
  </div>
</div>
