<app-header-admin></app-header-admin>

<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>{{title}}</h1>
      <hr>
    </div>
  </div>



  <!-- <form (ngSubmit)="onSubmit(f)" #f="ngForm"> -->
  <form (ngSubmit)="managedEmployees()" [formGroup]="form">
    <div class="form-group">
      <div class="row">
        <div class="col-md-3">
          <label>Employee ID (รหัสพนักงาน):<b style="color:red;">*</b></label>
        </div>
        <div class="col-md-3" [ngClass]="{'has-error':!form.controls['em_id'].valid && form.controls['em_id'].touched }">

          <p *ngIf="!editted"><input type="text" class="form-control" id="em_id" [(ngModel)]="users.em_id" formControlName="em_id" placeholder="Ex.TH999999" maxlength="8" required>
          </p>
          <p *ngIf="editted"><input type="text" class="form-control" id="em_id" [(ngModel)]="users.em_id" formControlName="em_id" disabled></p>
          <span class="help-block" *ngIf="!form.controls['em_id'].valid
                                        && form.controls['em_id'].touched">Please enter valid Employees ID</span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label>Firstname (ชื่อ):<b style="color:red;">*</b> </label>
        </div>
        <div class="col-md-3" [ngClass]="{'has-error':!form.controls['name'].valid && form.controls['name'].touched}">
          <input type="text" class="form-control" id="name" [(ngModel)]="users.name" formControlName="name" name="name" required>
          <span class="help-block" *ngIf="!form.controls['name'].valid
                                        && form.controls['name'].touched">Please enter Name</span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label>Surname (นามสกุล):<b style="color:red;">*</b> </label>
        </div>
        <div class="col-md-3" [ngClass]="{'has-error':!form.controls['lname'].valid && form.controls['lname'].touched}">
          <input type="text" class="form-control" id="lname" [(ngModel)]="users.lname" formControlName="lname" required>
          <span class="help-block" *ngIf="!form.controls['lname'].valid
                                              && form.controls['lname'].touched">Please enter Surname</span>
        </div>
      </div>



      <div class="row">
        <div class="col-md-3">
          <label>Job Family : </label>
        </div>
        <div class="col-md-3">
          <select class="form-control" id="job_fam_id" [(ngModel)]="defaultFamily" formControlName="job_fam_id" required>
              <option value="101" [selected]="defaultFamily === 101">PS Implementation Engineers</option>
              <option value="102" [selected]="defaultFamily === 102">Business Management</option>
              <option value="103" [selected]="defaultFamily === 103">MS Management</option>
              <option value="104" [selected]="defaultFamily === 104">Service Administration</option>
              <option value="105" [selected]="defaultFamily === 105">Service Delivery Service Desk Management</option>
              <option value="106" [selected]="defaultFamily === 106">Service Delivery Management</option>
              <option value="107" [selected]="defaultFamily === 107">Service Delivery Service Desk Management</option>
              <option value="108" [selected]="defaultFamily === 108">Service Delivery Technical Support</option>
              <option value="109" [selected]="defaultFamily === 109">Service Delivery Operations Management</option>
              <option value="110" [selected]="defaultFamily === 110">Service Delivery Management</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label>Team : </label>
        </div>
        <div class="col-md-3">
          <select class="form-control" id="team_id" [(ngModel)]="defaultTeam" formControlName="team_id" required>
                    <option value="501" [selected]="defaultTeam === 501">Admin</option>
                    <option value="502" [selected]="defaultTeam === 502">Cabling</option>
                    <option value="503" [selected]="defaultTeam === 503">Installation </option>
                    <option value="504" [selected]="defaultTeam === 504">Preventive Maintenance</option>
                    <option value="505" [selected]="defaultTeam === 505">Service Support</option>
                    <option value="506" [selected]="defaultTeam === 506">Resource Management</option>
                    <option value="507" [selected]="defaultTeam === 507">Services</option>
                    <option value="508" [selected]="defaultTeam === 508">Specialist</option>
                    <option value="509" [selected]="defaultTeam === 509">Upcountry FE</option>
            </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label>Job Profile : </label>
        </div>
        <div class="col-md-3">
          <select class="form-control" id="job_pro_id" [(ngModel)]="defaultProfile" formControlName="job_pro_id" required>
              <option value="201" [selected]="defaultProfile === 201">PS Implementation Engineer (L1)</option>
              <option value="202" [selected]="defaultProfile === 202">PS Implementation Engineer (L2)</option>
              <option value="203" [selected]="defaultProfile === 203">PS Implementation Engineer (L3)</option>
              <option value="204" [selected]="defaultProfile === 204">PS Implementation Engineer (L4) / Team Lead</option>
              <option value="205" [selected]="defaultProfile === 205">Senior Manager: Business Operations</option>
              <option value="206" [selected]="defaultProfile === 206">Senior MS Manager</option>
              <option value="207" [selected]="defaultProfile === 207">Senior Service Administrator / Team Leader</option>
              <option value="208" [selected]="defaultProfile === 208">Senior Service Delivery Service Desk Analyst</option>
              <option value="209" [selected]="defaultProfile === 209">Service Delivery Manager</option>
              <option value="210" [selected]="defaultProfile === 210">Service Delivery Service Desk Administrator</option>
              <option value="211" [selected]="defaultProfile === 211">Service Delivery Service Desk Manager</option>
              <option value="212" [selected]="defaultProfile === 212">Service Delivery Support Engineer (L1)</option>
              <option value="213" [selected]="defaultProfile === 213">Service Delivery Support Engineer (L2)</option>
              <option value="214" [selected]="defaultProfile === 214">Service Delivery Support Engineer (L3)</option>
              <option value="215" [selected]="defaultProfile === 215">Service Delivery Support Engineer (L4) / Team Lead</option>
              <option value="216" [selected]="defaultProfile === 216">Services Delivery Operations Manager</option>
              <option value="217" [selected]="defaultProfile === 217">Support Service Delivery Co-ordinator</option>
              <option value="218" [selected]="defaultProfile === 218">Support Service Level Manager</option>

          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label>Business Title : </label>
        </div>
        <div class="col-md-3">
          <select class="form-control" id="business_id" [(ngModel)]="defaultBusiness" formControlName="business_id" required>
              <option value="301" [selected]="defaultBusiness === 301">Head of Services</option>
              <option value="302" [selected]="defaultBusiness === 302">Helpdesk Manager</option>
              <option value="303" [selected]="defaultBusiness === 303">Installation Manager</option>
              <option value="304" [selected]="defaultBusiness === 304">Junior Service Delivery Support Engineer (L1)</option>
              <option value="305" [selected]="defaultBusiness === 305">MS Specialist</option>
              <option value="306" [selected]="defaultBusiness === 306">Network Specialist</option>
              <option value="307" [selected]="defaultBusiness === 307">Preventive Maintenance Manager</option>
              <option value="308" [selected]="defaultBusiness === 308">PS Implementation Engineer (L1)</option>
              <option value="309" [selected]="defaultBusiness === 309">PS Implementation Engineer (L2)</option>
              <option value="310" [selected]="defaultBusiness === 310">PS Implementation Engineer (L3)</option>
              <option value="311" [selected]="defaultBusiness === 311">Senior Business Operation Manager</option>
              <option value="312" [selected]="defaultBusiness === 312">Senior Engineer</option>
              <option value="313" [selected]="defaultBusiness === 313">Senior Service Administrator / Team Leader</option>
              <option value="314" [selected]="defaultBusiness === 314">Senior Service Desk Analyst</option>
              <option value="315" [selected]="defaultBusiness === 315">Senior Specialist </option>
              <option value="316" [selected]="defaultBusiness === 316">Service Delivery Manager</option>
              <option value="317" [selected]="defaultBusiness === 317">Service Delivery Service Desk Administrator</option>
              <option value="318" [selected]="defaultBusiness === 318">Service Delivery Support Engineer (L1)</option>
              <option value="319" [selected]="defaultBusiness === 319">Service Delivery Support Engineer (L2)</option>
              <option value="320" [selected]="defaultBusiness === 320">Service Delivery Support Engineer (L3)</option>
              <option value="321" [selected]="defaultBusiness === 321">Service Delivery Support Engineer (L4) / Team Leader</option>
              <option value="322" [selected]="defaultBusiness === 322">Services Delivery Operations Manager</option>
              <option value="323" [selected]="defaultBusiness === 323">Support Service Delivery Co-ordinator</option>


          </select>
        </div>
      </div>



      <div class="row">
        <div class="col-md-3">
          <label>Skill (ทักษะ / ความสนใจ): </label>
        </div>
        <div class="col-md-3">
          <select class="form-control" id="skill_id" [(ngModel)]="defaultSkill" formControlName="skill_id" required>
              <option value="401" [selected]="defaultSkill === 401">Networking</option>
              <option value="402" [selected]="defaultSkill === 402">Security</option>
              <option value="403" [selected]="defaultSkill === 403">Customer experience & Collaboration</option>
              <option value="404" [selected]="defaultSkill === 404">Data Centres (Hybrid IT)</option>
              <option value="405" [selected]="defaultSkill === 405">End-user computer</option>
              <option value="406" [selected]="defaultSkill === 406">Others</option>

          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label>Skill (เพิ่มเติม 1): </label>
        </div>
        <div class="col-md-3">
          <select class="form-control" id="skill_id1" [(ngModel)]="defaultSkill_1" formControlName="skill_id1" required>
              <option value="0" [selected]="defaultSkill_1 === 0">ไม่มี</option>
              <option value="401" [selected]="defaultSkill_1 === 401">Networking</option>
              <option value="402" [selected]="defaultSkill_1 === 402">Security</option>
              <option value="403" [selected]="defaultSkill_1 === 403">Customer experience & Collaboration</option>
              <option value="404" [selected]="defaultSkill_1 === 404">Data Centres (Hybrid IT)</option>
              <option value="405" [selected]="defaultSkill_1 === 405">End-user computer</option>
              <option value="406" [selected]="defaultSkill_1 === 406">Others</option>

          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label>Skill (เพิ่มเติม 2) : </label>
        </div>
        <div class="col-md-3">
          <select class="form-control" id="skill_id2" [(ngModel)]="defaultSkill_2" formControlName="skill_id2" required>
              <option value="0" [selected]="defaultSkill_2 === 0">ไม่มี</option>
              <option value="401" [selected]="defaultSkill_2 === 401">Networking</option>
              <option value="402" [selected]="defaultSkill_2 === 402">Security</option>
              <option value="403" [selected]="defaultSkill_2 === 403">Customer experience & Collaboration</option>
              <option value="404" [selected]="defaultSkill_2 === 404">Data Centres (Hybrid IT)</option>
              <option value="405" [selected]="defaultSkill_2 === 405">End-user computer</option>
              <option value="406" [selected]="defaultSkill_2 === 406">Others</option>

          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label>Hiredate (วันจ้างงาน): </label>
        </div>
        <!-- Type date not support for firefox and IE 11 recommended to use google chome -->
        <div class="col-md-3" [ngClass]="{'has-error':!form.controls['hiredate'].valid }">
          <!-- && form.controls['hiredate'].touched -->
          <input type="text" [(ngModel)]="users.hiredate" class="form-control" ngui-datetime-picker formControlName="hiredate" date-format="YYYY/MM/DD" date-only="true" placeholder="format.Year/Month/day" required />

          <span class="help-block" *ngIf="!form.controls['hiredate'].valid
                                               && form.controls['hiredate'].touched">Please enter valid Hiredate</span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label>Email (อีเมล): <b style="color:red;">*</b></label>
        </div>
        <div class="col-md-3" [ngClass]="{'has-error':!form.controls['email'].valid }">
          <!-- && form.controls['email'].touched -->
          <input type="email" class="form-control" id="email" [(ngModel)]="users.email" formControlName="email" required placeholder="Ex.ddth.d@dimentiondata.com">
          <span class="help-block" *ngIf="!form.controls['email'].valid
                                              && form.controls['email'].touched">Please enter Valid Email</span>

          <!-- <span class="help-block" *ngIf="!email.valid && email.touched">Please Enter a valid email</span> -->
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label>Telephone (โทรศัพท์): </label>
        </div>
        <div class="col-md-3" [ngClass]="{'has-error':!form.controls['tel'].valid && form.controls['tel'].touched}">
          <input type="text" id="tel" [(ngModel)]="users.tel" class="form-control" maxlength="10" formControlName="tel">
          <span class="help-block" *ngIf="!form.controls['tel'].valid
                                              && form.controls['tel'].touched">Please enter Valid Number</span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label>Car ID (ทะเบียนรถ): </label>
        </div>
        <div class="col-md-3">
          <input type="text" id="car_id" [(ngModel)]="users.car_id" class="form-control" formControlName="car_id">
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label>Type (สิทธิ์การใช้งาน): </label>
        </div>
        <div class="col-md-3">
          <select class="form-control" id="type" [(ngModel)]="defaultType" formControlName="type">
              <option value="admin" [selected]="defaultType === 'admin'">Administator</option>
              <option value="resource controller" [selected]="defaultType === 'resource controller'">Resource Controller</option>
              <option value="engineer" [selected]="defaultType === 'engineer'">Engineer</option>
          </select>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label>Username: <b style="color:red;">*</b></label>
        </div>
        <div class="col-md-3" [ngClass]="{'has-error':!form.controls['username'].valid }">
          <!-- && form.controls['username'].touched -->
          <input type="text" id="username" [(ngModel)]="users.username" class="form-control" formControlName="username" required>
          <span class="help-block" *ngIf="!form.controls['username'].valid
                                              && form.controls['username'].touched">Please enter username</span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label>Password: <b style="color:red;">*</b></label>
        </div>
        <div class="col-md-3" [ngClass]="{'has-error':!form.controls['password'].valid}">
           <!-- && form.controls['password'].touched -->
          <input type="password" id="password" [(ngModel)]="users.password" class="form-control" formControlName="password" required>
          <span class="help-block" *ngIf="!form.controls['password'].valid
                                              && form.controls['password'].touched">Please enter password 6 digits</span>
        </div>
      </div>

      <div class="row">
        <div class="col-md-3">
          <label>Confirm Password: <b style="color:red;">*</b></label>
        </div>
        <div class="col-md-3">
          <input type="password" id="reply" [(ngModel)]="reply" class="form-control" formControlName="reply">
          <!-- <div class="alert alert-danger" *ngIf="form.controls.reply.errors?.MatchPassword">Password not match</div> -->
          <span class="help-block" *ngIf="form.controls['reply'].errors?.MatchPassword
                                          &&form.controls['reply'].touched">Password not match</span>

        </div>

      </div>

    </div>

    <p *ngIf="!editted" align="center"><button type="submit"  class="btn btn-success" [disabled]="!form.valid">Add User</button></p>
    <p *ngIf="editted" align="center"><button type="submit"  class="btn btn-warning" [disabled]="!form.valid">Ediit</button></p>


  </form>


  <!-- <div class="row">
        <div class="col-md-2">
          <label>Reply Password: </label>
        </div>
        <div class="col-md-3">
          <input type="text"
          class="form-control"
          id="reply"

          >
        </div>
      </div>
    </div>
    <button type="submit" class="btn btn-success" (click)="AddUser()">Add User</button> -->


  <!-- <div class="row" *ngIf="submitted">
      <div class="col-xs-12">
        <h3>Your Data</h3>
        <p>Em ID: {{employees.em_id}}</p>
        <p>Name:{{ employees.name }}</p>
        <p>Surname : {{employees.surname}}</p>
        <p>Em ID: {{employees.cid}}</p>
        <p>Em ID: {{employees.dep}}</p>
        <p>Em ID: {{employees.type}}</p>
        <p>Em ID: {{employees.email}}</p>
        <p>Em ID: {{employees.tel}}</p>
        <p>Em ID: {{employees.username}}</p>
        <p>Em ID: {{employees.password}}</p>
        <p>Em ID: {{employees.reply}}</p>
      </div>
    </div> -->
</div>
