#title {
  text-align: right;
}

.row {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}



textarea {
   border-style: none;
   border-color: Transparent;
   overflow: auto;
 }

p {
  color: #E3000E;
}
