
  <div class="row">
    <div class="col">
      <h2 md-dialog-title>Details Ticket No:  {{DetailData.ticket_id}}</h2>
      <hr>
      <md-dialog-content>
        <div class="row">
          <div class="col-xs-4 col-md-4 col-lg-4" id="title">
            <strong>Customer Name :</strong>
          </div>
          <div class="col-xs-4 offset-xs-4 col-md-4 col-lg-4" >
            {{ DetailData.customer_name }}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-md-4 col-lg-4" id="title">
            <strong>Date :</strong>
          </div>
          <div class="col-xs-4 offset-xs-4 col-md-4 col-lg-4" >
            {{ DetailData.date | date }}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-md-4 col-lg-4" id="title">
            <strong>Tiime :</strong>
          </div>
          <div class="col-xs-4 offset-xs-4 col-md-4 col-lg-4">
            {{ DetailData.time | slice:0:5 }}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-md-4 col-lg-4" id="title">
            <strong>Description :</strong>
          </div>
          <div class="col-xs-4 offset-xs-4 col-md-4 col-lg-4">

            <textarea name="name" rows="8" cols="35">{{ DetailData.description }}</textarea>
          </div>
        </div>

      </md-dialog-content>
      <md-dialog-actions align="center">
        <button md-raised-button (click)="ConfirmWork()" class="btn btn-success" >Confirm</button>
        <button md-raised-button (click)="CancelWork()" class="btn btn-warning" >Cancel</button>

      </md-dialog-actions>
    </div>
  </div>
