
  <div class="row">
    <div class="col">
      <h2 md-dialog-title>Details Ticket No:  {{DetailData.ticket_name}}</h2>
      <hr>
      <md-dialog-content>
        <div class="row">
          <div class="col-xs-4 col-md-4 col-lg-4" id="title">
            <strong>Customer Name :</strong>
          </div>
          <div class="col-xs-4 offset-xs-4 col-md-4 col-lg-4" >
            {{ DetailData.customer_name }}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-md-4 col-lg-4" id="title">
            <strong>Start Date :</strong>
          </div>
          <div class="col-xs-4 offset-xs-4 col-md-4 col-lg-4" >
            {{ DetailData.date | date:'short' }}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-md-4 col-lg-4" id="title">
            <strong>End Date :</strong>
          </div>
          <div class="col-xs-4 offset-xs-4 col-md-4 col-lg-4">
            {{ DetailData.end_date | date:'short' }}
          </div>
        </div>
        <div class="row">
          <div class="col-xs-4 col-md-4 col-lg-4" id="title">
            <strong>Description :</strong>
          </div>
          <div class="col-xs-4 offset-xs-4 col-md-4 col-lg-4">
            <label>{{ DetailData.description }}</label>
          </div>
        </div>

      </md-dialog-content>
      <md-dialog-actions align="center">
        <div class="row">
          <div class="col" *ngIf="!week">
            <p *ngIf="!block">* You cannot accept this work if you not done your current work.</p>
          </div>
        </div>
        <div class="row">
          <div class="col" *ngIf="!week">
              <button md-raised-button (click)="ConfirmWork()" class="btn btn-success" [disabled]="!block" >Confirm</button>
              <button md-raised-button (click)="CancelWork()" class="btn btn-warning" >Cancel</button>
          </div>
          <div class="col" *ngIf="week">
            <button md-raised-button (click)="CancelWork()" class="btn btn-warning" style="text-align: center;">Cancel</button>
          </div>
        </div>


      </md-dialog-actions>
    </div>
  </div>
