h1 {
  font-family: helvetica;
  padding-left: 10;
  color: #6b6565;

}

img {
  height: 15px;
}

td,th {
  text-align: center;
}

.row {
  margin-bottom: 20px;

}

.btn-circle {
  width: 30px;
  height: 30px;
  text-align: center;
  padding: 6px 0;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
}
