
thead>tr {
  background-color:  #09ba32;
  -webkit-border-radius: 10px;
  -moz-border-radius:10px;
  border-radius: 10px;
  color: #f2f2f2;


}

#header_css_racuis {
  background-color: #cccccc;
  -webkit-border-radius: 10px;
  -moz-border-radius:10px;
  border-radius: 10px
}

td,th {
  text-align: center;
}

.container-fluid {
  font-family: helvetica;
  
}
