
/*

DayPilot Scheduler Theme
https://themes.daypilot.org/scheduler/theme/phio5a

Theme Designer Version: 2017.05.15.1032

*/

.scheduler_theme_main
{
	border: 1px solid #c0c0c0;
}

.scheduler_theme_main, .scheduler_theme_main td
{
	font-family: Helvetica;
	font-size: 20px;
}

.scheduler_theme_event {

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

}

.scheduler_theme_event {
	color: #333333;
}

.scheduler_theme_event_inner {
	position: absolute;

	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;

	margin: 0px;
	overflow: hidden;

	background-color: #fad169;


	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;


	padding: 2px;



	border: 1px solid #cccccc;



	-moz-box-shadow: inset 0px 0px 2px rgba(255,255,255,0.8);
	-webkit-box-shadow: inset 0px 0px 2px rgba(255,255,255,0.8);
	box-shadow: inset 0px 0px 2px rgba(255,255,255,0.8);



}

.scheduler_theme_timeheadergroup,
.scheduler_theme_timeheadercol
{
	color: black;
	background: #d3e7f5;

}

.scheduler_theme_rowheader,
.scheduler_theme_corner
{
	color: black;
	background: #d3e7f5;

}

.scheduler_theme_rowheader_inner {
	padding: 2px;
}

.scheduler_theme_timeheadergroup,
.scheduler_theme_timeheadercol
{
	text-align: center;
}

.scheduler_theme_timeheadergroup_inner,
.scheduler_theme_timeheadercol_inner
{
	position: absolute;
	left: 0px;
	right: 0px;
	top: 0px;
	bottom: 0px;
	border-right: 1px solid #c0c0c0;
	padding: 2px;
}

.scheduler_theme_timeheadergroup_inner {
	border-bottom: 1px solid #c0c0c0;
}

.scheduler_theme_divider,
.scheduler_theme_splitter,
.scheduler_theme_divider_horizontal,
.scheduler_theme_resourcedivider
{
	background-color: #c0c0c0;
}

.scheduler_theme_matrix_vertical_line,
.scheduler_theme_matrix_horizontal_line
{
	background-color: #eeeeee;
}

.scheduler_theme_cell
{
	background: #f9f9f9;
}

.scheduler_theme_cell.scheduler_theme_cell_business
{
	background: #ffffff;
}

.scheduler_theme_message
{
	padding: 10px;
	opacity: 0.9;
	filter: alpha(opacity=90);

	color: #0f030f;
	background: #f0751d;

}

.scheduler_theme_shadow_inner
{
	background-color: #666666;
	opacity: 0.5;
	filter: alpha(opacity=50);
	height: 100%;

	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	border-radius: 3px;

}



.scheduler_theme_matrix_vertical_break
{
	background-color: #000;
}

.scheduler_theme_cellparent {
}

.scheduler_theme_tree_image_no_children {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAKXRFWHRDcmVhdGlvbiBUaW1lAHDhIDMwIEkgMjAwOSAwODo0NjozMSArMDEwMClDkt4AAAAHdElNRQfZAR4HLzEyzsCJAAAACXBIWXMAAA7CAAAOwgEVKEqAAAAABGdBTUEAALGPC/xhBQAAADBJREFUeNpjrK6s5uTl/P75OybJ0NLW8h8bAIozgeSxAaA4E1A7VjmgOL31MeLxHwCeXUT0WkFMKAAAAABJRU5ErkJggg==);
}
.scheduler_theme_tree_image_expand {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAKXRFWHRDcmVhdGlvbiBUaW1lAHDhIDMwIEkgMjAwOSAwODo0NjozMSArMDEwMClDkt4AAAAHdElNRQfZAR4HLyUoFBT0AAAACXBIWXMAAA7CAAAOwgEVKEqAAAAABGdBTUEAALGPC/xhBQAAAFJJREFUeNpjrK6s5uTl/P75OybJ0NLW8h8bAIozgeRhgJGREc4GijMBtTNgA0BxFog+uA4IA2gmUJwFog/IgUhAGBB9KPYhA3T74Jog+hjx+A8A1KRQ+AN5vcwAAAAASUVORK5CYII=);
}
.scheduler_theme_tree_image_collapse {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAIAAABv85FHAAAAKXRFWHRDcmVhdGlvbiBUaW1lAHDhIDMwIEkgMjAwOSAwODo0NjozMSArMDEwMClDkt4AAAAHdElNRQfZAR4HLxB+p9DXAAAACXBIWXMAAA7CAAAOwgEVKEqAAAAABGdBTUEAALGPC/xhBQAAAENJREFUeNpjrK6s5uTl/P75OybJ0NLW8h8bAIozgeSxAaA4E1A7VjmgOAtEHyMjI7IE0EygOAtEH5CDqY9c+xjx+A8ANndK9WaZlP4AAAAASUVORK5CYII=);
}

.scheduler_theme_columnheader
{
}

.scheduler_theme_columnheader_inner {
    font-weight: bold;
}

.scheduler_theme_columnheader_cell {
    background: -webkit-gradient(linear, left top, right top, from(#eeeeee), to(#dddddd));
    background: -moz-linear-gradient(left, #eeeeee 0%, #dddddd);
    background: -ms-linear-gradient(left, #eeeeee 0%, #dddddd);
    background: -webkit-linear-gradient(left, #eeeeee 0%, #dddddd);
    background: linear-gradient(left, #eeeeee 0%, #dddddd);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorStr="#eeeeee", endColorStr="#dddddd", GradientType=1);
}

.scheduler_theme_columnheader_splitter {
    background-color: #666;
    opacity: 0.5;
    filter: alpha(opacity=50);
}
.scheduler_theme_columnheader_cell_inner {
    padding: 2px;
}

.scheduler_theme_timeheader_float_inner {
	padding: 2px;
}

.scheduler_theme_event_float_inner {


    padding: 3px 2px 2px 7px;

}

.scheduler_theme_event_float_inner:after {
    content:"";
    border-color: transparent #333333 transparent transparent;
    border-style:solid;
    border-width:5px;
    width:0;
    height:0;
    position:absolute;

	top:6px;
    left:-4px;
}

.scheduler_theme_event_move_left {
	box-sizing: border-box;
	padding:2px;
	border:1px solid #ccc;
	background:#fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
	background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee);
	background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee);
	background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee);
	background: -o-linear-gradient(top, #ffffff 0%, #eeeeee);
	background: linear-gradient(top, #ffffff 0%, #eeeeee);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ffffff", endColorStr="#eeeeee");
}

.scheduler_theme_event_move_right {
	box-sizing: border-box;
	padding:2px;
	border:1px solid #ccc;
	background:#fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffffff), to(#eeeeee));
	background: -webkit-linear-gradient(top, #ffffff 0%, #eeeeee);
	background: -moz-linear-gradient(top, #ffffff 0%, #eeeeee);
	background: -ms-linear-gradient(top, #ffffff 0%, #eeeeee);
	background: -o-linear-gradient(top, #ffffff 0%, #eeeeee);
	background: linear-gradient(top, #ffffff 0%, #eeeeee);
	filter: progid:DXImageTransform.Microsoft.Gradient(startColorStr="#ffffff", endColorStr="#eeeeee");
}

.scheduler_theme_event_delete {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAsAAAALCAYAAACprHcmAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAI5JREFUKFNtkLERgCAMRbmzdK8s4gAUlhYOYEHJEJYOYOEwDmGBPxC4kOPfvePy84MGR0RJ2N1A8H3N6DATwSQ57m2ql8NBG+AEM7D+UW+wjdfUPgerYNgB5gOLRHqhcasg84C2QxPMtrUhSqQIhg7ypy9VM2EUZPI/4rQ7rGxqo9sadTegw+UdjeDLAKUfhbaQUVPIfJYAAAAASUVORK5CYII=) center center no-repeat; opacity: 0.6; -ms-filter:'progid:DXImageTransform.Microsoft.Alpha(Opacity=60)';
	cursor: pointer;
}

.scheduler_theme_event_delete:hover {
	opacity: 1;
	-ms-filter: none;
}

.scheduler_theme_rowmove_handle { background-repeat: no-repeat; background-position: center center; background-color: #ccc; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAQAAAAKCAYAAACT+/8OAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAAAadEVYdFNvZnR3YXJlAFBhaW50Lk5FVCB2My41LjExR/NCNwAAAClJREFUGFdj+P//P4O9vX2Bg4NDP4gNFgBytgPxebgAMsYuQGMz/jMAAFsTZDPYJlDHAAAAAElFTkSuQmCC); cursor: move; }
.scheduler_theme_rowmove_source { background-color: black; opacity: 0.2; }
.scheduler_theme_rowmove_position_before, .scheduler_theme_rowmove_position_after { background-color: #999; height: 2px; }
.scheduler_theme_rowmove_position_child { margin-left: 10px; background-color: #999; height: 2px; }
.scheduler_theme_rowmove_position_child:before { content: '+'; color: #999; position: absolute; top: -8px; left: -10px; }
.scheduler_theme_rowmove_position_forbidden { background-color: red; height: 2px; margin-left: 10px; }
.scheduler_theme_rowmove_position_forbidden:before { content: 'x'; color: red; position: absolute; top: -8px; left: -10px; }

.scheduler_theme_link_horizontal { border-bottom-style: solid; border-bottom-color: red }
.scheduler_theme_link_vertical { border-right-style: solid; border-right-color: red }
.scheduler_theme_link_arrow_right:before { content: ''; border-width: 6px; border-color: transparent transparent transparent red; border-style: solid; width: 0px; height:0px; position: absolute; }
.scheduler_theme_link_arrow_left:before { content: ''; border-width: 6px; border-color: transparent red transparent transparent; border-style: solid; width: 0px; height:0px; position: absolute; }
.scheduler_theme_link_arrow_down:before { content: ''; border-width: 6px; border-color: red transparent transparent transparent; border-style: solid; width: 0px; height:0px; position: absolute; }
.scheduler_theme_link_arrow_up:before { content: ''; border-width: 6px; border-color: transparent transparent red transparent; border-style: solid; width: 0px; height:0px; position: absolute; }

.scheduler_theme_shadow_overlap .scheduler_theme_shadow_inner { background-color: red; }
.scheduler_theme_overlay { background-color: gray; opacity: 0.5; filter: alpha(opacity=50); }

.scheduler_theme_event_group { box-sizing: border-box; font-size:12px; color:#666; padding:2px 2px 2px 2px; overflow:hidden; border:1px solid #ccc; background-color: #fff; }

.scheduler_theme_header_icon { box-sizing: border-box; border: 1px solid #c0c0c0; background-color: #d3e7f5; color: #ffff; }
.scheduler_theme_header_icon:hover { background-color: #cce3f3; }
.scheduler_theme_header_icon_hide:before { content: '\00AB'; }
.scheduler_theme_header_icon_show:before { content: '\00BB'; }

.scheduler_theme_row_new .scheduler_theme_rowheader_inner { cursor: text; background-position: 0px 5px; background-repeat: no-repeat; background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAAKCAYAAACNMs+9AAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsMAAA7DAcdvqGQAAABUSURBVChTY0ACslAaK2CC0iCQDMSlECYmQFYIAl1AjFUxukIQwKoYm0IQwFCMSyEIaEJpMMClcD4Qp0CYEIBNIUzRPzAPCtAVYlWEDgyAGIdTGBgAbqEJYyjqa3oAAAAASUVORK5CYII=); }
.scheduler_theme_row_new .scheduler_theme_rowheader_inner:hover { background: white; }
.scheduler_theme_rowheader textarea { padding: 3px; }
.scheduler_theme_rowheader_scroll { cursor: default; }

.scheduler_theme_shadow_forbidden .scheduler_theme_shadow_inner { background-color: red; }

.scheduler_theme_event_moving_source { opacity: 0.5; filter: alpha(opacity=50); }

.scheduler_theme_linkpoint { background-color: white; border: 1px solid gray; border-radius: 5px; }
.scheduler_theme_linkpoint.scheduler_theme_linkpoint_hover { background-color: black; }

.scheduler_theme_event.scheduler_theme_event_version .scheduler_theme_event_inner { background-color: #cfdde8;background-image: -webkit-gradient(linear, 0 100%, 100% 0,	color-stop(.25, rgba(255, 255, 255, .2)), color-stop(.25, transparent),	color-stop(.5, transparent), color-stop(.5, rgba(255, 255, 255, .2)), color-stop(.75, rgba(255, 255, 255, .2)), color-stop(.75, transparent), to(transparent));background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);background-image: -ms-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);background-image: linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);-webkit-background-size: 20px 20px;-moz-background-size: 20px 20px;background-size: 20px 20px; }

.scheduler_theme_crosshair_vertical, .scheduler_theme_crosshair_horizontal, .scheduler_theme_crosshair_left, .scheduler_theme_crosshair_top { background-color: gray; opacity: 0.2; filter: alpha(opacity=20); }
