h1 {
  font-family: helvetica;
  padding-left: 10;
  color: #6b6565;

}

.row {
  margin-bottom: 0px;
  margin-right: 50px;

}

#custom-search-input{

    position: absolute;
    right: 0px;
    padding: 3px;
    border: solid 1px #E4E4E4;
    border-radius: 5px;
    background-color: #fff;
    margin: 20px;
    width: 300px;
    height: 40px;


}

#custom-search-input input{
    border: 0;
    box-shadow: none;
    height: 30px;

}

#custom-search-input button{
    margin: 2px 0 0 0;
    background: none;
    box-shadow: none;
    border: 0;
    color: #666666;
    padding: 0 8px 0 10px;
    border-left: solid 1px #ccc;

}

#custom-search-input button:hover{
    border: 0;
    box-shadow: none;
    border-left: solid 1px #ccc;

}

#custom-search-input .glyphicon-search{
    font-size: 18px;

}
