<div class="container">
  <div class="row">
    <div class="col-md-6">
        <h1>Status Engineer right now!</h1>
    </div>
    <div class="col-md-6">
      <div id="custom-search-input">
              <div class="input-group">
                  <input type="text" class="form-control input-lg" placeholder="search.." />
                  <span class="input-group-btn">
                      <button class="btn btn-info btn-lg" type="button">
                          <i class="glyphicon glyphicon-search"></i>
                      </button>
                  </span>
              </div>
      </div>
    </div>

  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-md-3">
      <search-tect></search-tect>
    </div>

    <div class="col-md-3">
      <status-en></status-en>
    </div>
  </div>
</div>
